<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.kanade.tachiyomi.extension.all.ybxmanga">

    <application
        android:label="Tachiyomi: YBX Manga"
        android:hasCode="true"
        android:icon="@android:drawable/sym_def_app_icon">
        <meta-data
            android:name="tachiyomi.extension.class"
            android:value="eu.kanade.tachiyomi.extension.all.ybxmanga.YbxManga" />
        <meta-data
            android:name="tachiyomi.extension.factory"
            android:value="false" />
        <meta-data
            android:name="tachiyomi.extension.nsfw"
            android:value="0" />
    </application>

</manifest>
